body{ 
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display:flex; 
    flex-direction:column;
}
h1{
    font-size: 2.5em;
}
header{
    background-color: #80cbc4;
    padding: 2rem;
}
footer{
    background-color: #26a69a;
    padding: 2rem;
}
.flexrow{
    display: flex;
    flex:1;  
}
.flexitems1{
    flex:1;
    background-color: #ffab00;
    padding: 2rem;
}
.flexitems2{
    flex:1;
    background-color: #ffd54e;
    padding: 2rem;
}
.flexitems3{
    flex:1;
    background-color: #fff276;
    padding: 2rem;
}